@media (max-width: 1200px) {
    .promo {
        background-position-x: inherit;
    }
    .consultation {
        min-height: 580px;
        padding: 50px 0 58px 0;
        background-size: 100% 100%;
    }
    .catalog {
        &-item {
            width: 254px;
            &__price {
                font-size: 15px;
            }
            &__old-price {
                font-size: 12px;
            }
        }
    }
    .button {
        &_mini {
            width: 110px;
        }
}


@media (max-width: 991px) {
    .conteiner {
            padding: 0 75px 0 75px;
        }
    .benefit {
        &__card {
            p {
                font-size: 12px;
            }
        }
    }
    .button {
        &_submit {
            height: 46px;
            font-size: 14px;
        }
        &_mini {
            width: 93px;
            height: 34px;
            font-size: 13px;
        }
    }
    .title {
        &_left {
            font-size: 27px;
        }
    }
    .consultation {
        min-height: 534px;
        padding: 40px 0 48px 0;
        background-size: 100% 100%;
        &__descr {
            font-size: 16px;
        }   
    }
    .feed-form {
        width: 270px;
        input {
            height: 46px;
        }
    }

    .carousel { 
        .tns-nav { 
            button {
                margin: 0 10px;
            }        
        }
    }

    .catalog {
        &__tab {
            font-size: 16px;
            width: 180px;
            height: 45px;
            line-height: 42px;
        }
    }   

    .catalog-item {
        width: 229px;
        &__img {
            height: 180px;
        }
        &__list li {
            font-size: 11px;
        }
       /*  &__content {
            transform: translateX(-110%);
        } */
        &__content {
            transform: translateX(-110%);
            &_active{
                transform: translateX(0%);
            }
        }
    }
    
}   


@media (max-width: 767px) {
    .conteiner {
            padding: 0 25px 0 25px;
        }
    .promo {
        background-position-x: left;
        padding-bottom: 50px;
        min-height: 500px;
        &__wapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 360px;
            margin-top: 42px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .header {
        &__logo {
        width: 150px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        &_header {
            font-size: 10px;
            width: 125px;
            height: 27px;
        }
        &_main {
            width: 220px;
            height: 39px;
            font-size: 12px;
            margin-top: 40px;
        }
        &_submit {
            height: 35px;
            font-size: 12px;
        }
    }
}
    .title {
        font-size: 22px;
        line-height: 30px;
    }

    .benefit {
        padding-top: 25px;
        &__cards {
            display: flex;
            justify-content: center;
            margin-top: 27px;
            flex-wrap: wrap; 
        }
    }
    .consultation {
        min-height: 422px;
        &__descr {
            font-size: 14px;
            line-height: 20px;
        }   
    }
    .feed-form {
        width: 220px;
        input {
            height: 35px;
            font-size: 12px;
        }
    }
    .carousel {
        padding: 40px 0;
        .prev, .next {
            display: none;
        }
    }

    .reviews {
        &-client {
            display: block;
            &__img {
                height: 100px;
                width: 100px;
                float: left;
                margin: 0 15px 5px 0 ;
            }
            &__content {
                margin-left: 15px;
            }
            &__descr {
                margin-top: 5px;
                p {
                    margin-top: 5px;
                }
            }
        }  
    }
}    


@media (max-width: 575px) {
    .conteiner {
            padding: 0 10px 0 10px;
        }
    .promo {
        padding-bottom: 25px;
        min-height: 450px;
        &__wapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 18px;
        }
        &__subheader {
            font-size: 13px;
            margin-top: 0;
        }
        &__icons {
            width: 230px;
            margin-top: 25px;
        }
        &__icon {
            font-size: 10px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .header {
        &__logo {
        width: 150px;
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 10px;
        }
    }
    .button {
        &_header {
            font-size: 8px;
            width: 90px;
            height: 20px;
        }
        &_main {
            width: 170px;
            height: 30px;
            font-size: 10px;
            margin-top: 30px;
        }
        &_submit {
            height: 25px;
            font-size: 10px;
        }
    }

    .title {
        font-size: 18px;
        &_left {
            font-size: 13px;
            line-height: 20px;
        }
    }
    
    .benefit {
        padding: 15px 0 25px 0;
       
        &__cards {
            margin-top: 0px;
        }
        &__card {
            margin-top: 10px;
            h3 {
                margin-top: 0;
                font-size: 15px;
            }
            p {
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
    .consultation {
        min-height: 279px;
        padding: 15px 0 18px 0;
        &__descr {
            font-size: 12px;
            line-height: 14px;
        }   
    }
    .feed-form {
        width: 180px;
        margin-top: 20px;
        input {
            height: 25px;
            font-size: 10px;
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tab {
            font-size: 9px;
            width: 89px;
            height: 25px;
            line-height: 25px;
        }
        &__content {
            margin-top: 23px;
        }
    }
    .reviews {
        &-client {
            display: block;
            margin-top: 25px;
            &__img {
                height: 100px;
                width: 100px;
                float: left;
                margin: 0 15px 5px 0 ;
            }
            &__content {
                margin-left: 15px;
            }
            &__descr {
                margin-top: 5px;
                p {
                    margin-top: 5px;
                }
            }
        }  
    }
       
}
