@import 'base/variables';
* {
    font-family: 'Museo Sans', sans-serif;
}
.conteiner {
    margin: 0 auto;
    width: 950px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
