.benefit {
    min-height: 470px;
    background: #F6F6F6;
    padding: 71px 0 64px 0;
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 265px;
        img {
            display: block;
            width: 70px;
            height: 70px;
        }
        h3 {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 30px;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 20px;
        }
        a {
           
            font-size: 14px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
    &__heart {
        animation: heartbeat 1.5s ease infinite;
        &:hover {
            animation-play-state: paused;
        } 
    }
}